{% extends 'layout/basicCNMenu.html' %}{% block content %} {% load crispy_forms_tags %}

<div class="container">
    <div class="row mb-3">
        <h1 class="text-center">Crear cuestionario</h1>
    </div>
    <div class="row mb-3">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" enctype = "multipart/form-data">
                {% csrf_token %}
                {% comment %} {{ form|crispy }} {% endcomment %}
                {{ form.nombre|as_crispy_field }}
                {{ form.fechaLimite|as_crispy_field }}
                {{ form.archivo|as_crispy_field }}
                {{ form.idGrupo|as_crispy_field }}
                {% if error is not none %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div>{{error}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if exito is not none %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div>{{ exito }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}

{% block JS %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $("input[type='date']").keydown(function (event) { event.preventDefault(); });
    </script>
{% endblock JS %}