{% extends 'layout/basicCNMenu.html' %}{% load static %} {% block content %}{%load crispy_forms_tags %}

<div class="container">
  <div class="card">
    <form method="POST">
      {% csrf_token %}
      <div class="card-header px-4 border-0 bg-primary">
        <h4 class="fw-bold mb-0 text-white text-center">Perfil</h4>
      </div>

      <div class="card-body px-5 mt-3">
        {% comment %} Informacion Personal {% endcomment %}
        <div class="row">
          <div class="col-md-3">
            <h5>
              Informacion Personal
              <a
                class="mx-2 justify-content-end"
                href="{% url 'editarInformacion' %}"
                style="text-decoration: none; color: white"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a
                class="mx-2 justify-content-end"
                href="{% url 'cambiarContraseña' %}"
                style="text-decoration: none; color: white"
              >
                <i class="bi bi-key-fill"></i>
              </a>
            </h5>
          </div>
          <div class="col-md-9">
            {{formusuario.first_name|as_crispy_field}}
            {{formusuario.last_name|as_crispy_field}}
            {{formPerfilTutorado.domicilio|as_crispy_field}}
            {{formPerfilTutorado.telefono|as_crispy_field}}
            {{formPerfilTutorado.correoPersonal|as_crispy_field}}
          </div>
        </div>
      </div>

      <hr class="my-3" />

      <div class="card-body px-5">
        {% comment %} Informacion PadreMadreTutor {% endcomment %}
        <div class="row">
          <div class="col-md-3">
            <h5>Informacion de Tutor Responsable</h5>
          </div>
          <div class="col-md-9">
            {{formpadremadretutor.nombre|as_crispy_field}}
            {{formpadremadretutor.apellidos|as_crispy_field}}
            {{formpadremadretutor.telefonotutor|as_crispy_field}}
          </div>
        </div>
      </div>

      <hr class="my-1" />

      <div class="card-body px-5">
        {% comment %} Botones {% endcomment %}
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a
                class="btn btn-sm btn-danger text-center m-1"
                href="{% url 'perfilTutorado' %}"
                >Cancelar</a
              >
              <button
                type="submit"
                class="btn btn-sm btn-primary text-center m-1"
              >
                Enviar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
</div>
{% endblock content %}
