{% extends 'layout/basicCNMenu.html' %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for grupo in grupos %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header text-white text-center" style="background: #1b396a;">
                            <h5>{{ grupo.grupo }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>Tutor: {{ grupo.idPersonalTec.user.first_name }}</p>
                                <p>Estado: {{ grupo.idEstado.estado }}</p>
                                <a class="btn btn-primary" href="{% url 'grupoTutor' grupo.id %}" role="button" style="background: #1b396a;">Ver alumnos</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}