{% extends 'layout/basicCNMenu.html' %}{% block content %}
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="container" style="border: solid">
        <div class="row">
          <div
            class="col-12 text-white text-center"
            style="background-color: #1b396a"
          >
            2019 - C
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-3 text-center">
            28 alumnos
            <br /><br /><br />
            Stand by
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3 p-3 text-center">
            <input
              type="button"
              value="Ver alumnos"
              style="background-color: #1b396a"
              class="text-white"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="container" style="border: solid">
        <div class="row">
          <div
            class="col-12 text-white text-center"
            style="background-color: #1b396a"
          >
            2019 - C
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-3 text-center">
            28 alumnos
            <br /><br /><br />
            Stand by
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3 p-3 text-center">
            <input
              type="button"
              value="Ver alumnos"
              style="background-color: #1b396a"
              class="text-white"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="container" style="border: solid">
        <div class="row">
          <div
            class="col-12 text-white text-center"
            style="background-color: #1b396a"
          >
            2019 - C
          </div>
        </div>
        <div class="row">
          <div class="col-12 p-3 text-center">
            28 alumnos
            <br /><br /><br />
            Stand by
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3 p-3 text-center">
            <input
              type="button"
              value="Ver alumnos"
              style="background-color: #1b396a"
              class="text-white"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br /><br /><br /><br />
{% endblock content %}
