{% extends 'layout/basicCNMenu.html' %}{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1 class="text-center h1">
                    Ayuda psicologica
                </h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 d-grid gap-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSolicitudCita" style="background-color: #1B396A;">
                    Solicitar ayuda
                </button>

                <div class="modal fade" id="modalSolicitudCita" tabindex="-1" aria-labelledby="modalSolicitudCitaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Solicitar ayuda psicológica</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Motivo</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="10" style="background-color: #1B396A;" class="rounded-top text-center text-white">Citas agendadas</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr style="background-color: #e3f2fd;">
                            <th scope="col">#</th>
                            <th scope="col">Fecha de solicitud</th>
                            <th scope="col">Fecha de asignación</th>
                            <th scope="col">Fecha de cita</th>
                            <th scope="col">Rango de atención</th>
                            <th scope="col">Lugar de atención</th>
                            <th scope="col">Hora de atención</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary">
                        <tr>
                            <th scope="row">1</th>
                            <td>20/10/2022</td>
                            <td>21/10/2022</td>
                            <td>22/10/2022</td>
                            <td>13:00 - 18:00</td>
                            <td>Edificio AG cubículo de psicólogo</td>
                            <td>14:15</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>20/10/2022</td>
                            <td>21/10/2022</td>
                            <td>22/10/2022</td>
                            <td>13:00 - 18:00</td>
                            <td>Edificio AG cubículo de psicólogo</td>
                            <td>14:15</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>20/10/2022</td>
                            <td>21/10/2022</td>
                            <td>22/10/2022</td>
                            <td>13:00 - 18:00</td>
                            <td>Edificio AG cubículo de psicólogo</td>
                            <td>14:15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>   
        </div>
    </div>
{% endblock content %}