{% extends 'layout/basicCNMenu.html' %}

{% block content %}

<div class="container">
    <div class="row mb-5">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6 bg-light shadow p-3 mb-5 rounded"><h6 class="text-center">Bienvenido al Sistema Gestor de Tutorías.</h6>
        <h6 class="text-center">Para comenzar elige una opción en el menú.</h6></div>
        <div class="col-1 col-md-3"></div>
    </div>
    {% if fechas %}
        <div class="row mb-5">
            <div class="col-auto mx-auto"><h1>Fechas Límites para Reportes</h1></div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Diagnóstico Institucional es {{fechas.diagnosticoInstitucional}}
                </div>
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Plan de Acción Tutorial Departamental es {{fechas.planAccionTutorial}}
                </div>
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Programa Institucional Tutorial es {{fechas.programaInstitucionalTutorial}}
                </div>
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Reporte Semestral Grupal es {{fechas.reporteSemestralGrupal}}
                </div>
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Reporte Semestral Departamental es {{fechas.reporteSemestralDepartamental}}
                </div>
                <div class="alert alert-info mb-3" role="alert">
                    La fecha límite para Reporte Semestral Institucional es {{fechas.reporteSemestralInstitucional}}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
</div>

{% endblock content %}