{% extends 'layout/basicCNMenu.html' %}{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <h1 class="text-center">Actualizar contraseña</h1>
      <br />
      <form action="" method="">
        <div class="input-group p-2">
          <input
            type="text"
            class="form-control"
            id="Pswd"
            placeholder="Contraseña"
            required
          />
        </div>
        <br />
        <div class="input-group p-2">
          <input
            type="text"
            class="form-control"
            id="PswdA"
            placeholder="Repetir Contraseña"
            required
          />
        </div>
        <br />
        <input
          type="button"
          class="w-100 btn btn-lg btn-primary"
          style="background-color: #1b396a"
          value="Actualizar"
        />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
