{% extends 'layout/basicCNMenu.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 fw-semibold">
      <div class="container">
        <div
          class="row text-white text-center"
          style="background-color: #1b396a"
        >
          <h4>
            Información Personal
            <a
              class="mx-2 justify-content-end"
              href="{% url 'editarInformacionTodos' %}"
              style="text-decoration: none; color: white"
            >
              <i class="bi bi-pencil-square"></i>
            </a>
            <a
              class="mx-2 justify-content-end"
              href="{% url 'cambiarContraseña' %}"
              style="text-decoration: none; color: white"
            >
              <i class="bi bi-key-fill"></i>
            </a>
          </h4>
        </div>
        <div class="row">
          <div class="container p-3" style="background-color: #d9d9d9">
            <div class="row text">
              <div class="col-3" style="text-align: right">Nombre:</div>
              <div class="col-8">{{formusuario.first_name}} {{formusuario.last_name}}</div>
            </div>
            <br />
            <div class="row">
              <div class="col-3" style="text-align: right">Domicilio:</div>
              <div class="col-8">{{formperfilPersonalTec.domicilio}}</div>
            </div>
            <br />
            <div class="row">
              <div class="col-3" style="text-align: right">Teléfono:</div>
              <div class="col-8">{{formperfilPersonalTec.telefono}}</div>
            </div>
            <br />
            <div class="row">
              <div class="col-3" style="text-align: right">
                Correo Personal:
              </div>
              <div class="col-8">{{formperfilPersonalTec.correoPersonal}}</div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12 fw-semibold">
          <div class="container">
            <div
              class="row text-white text-center"
              style="background-color: #1b396a"
            >
              <h4>Información Académica</h4>
            </div>
            <div class="row">
              <div class="container p-3" style="background-color: #d9d9d9">
                <div class="row">
                  <div class="col-3" style="text-align: right">
                    Correo Institucional:
                  </div>
                  <div class="col-8">{{formusuario.email}}</div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3" style="text-align: right">
                    Departamento:
                  </div>
                  <div class="col-8">
                    {{formdepartamentoacademico.departamentoAcademico}}
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-3" style="text-align: right">Edificio:</div>
                  <div class="col-8">{{formperfilPersonalTec.edificio}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center my-3">
      <a
        href="{% static 'Aviso_de_Privacidad_Simplificado.pdf' %}"
        target="_blank"
        >Aviso de privacidad</a
      >
    </div>
  </div>
</div>
{% endblock content %}
