{% extends 'layout/basicCNMenu.html' %} {% block content %} {% load static %}{%load crispy_forms_tags %}
<div class="container">
  <div class="card">
    <form action="">
      <div class="card-header px-4 border-0 bg-primary">
        <h4 class="fw-bold mb-0 text-white text-center">
          Perfil
          <a
            class="mx-2 justify-content-end"
            href="{% url 'editarInformacionTodos' %}"
            style="text-decoration: none; color: white"
          >
            <i class="bi bi-pencil-square"></i>
          </a>
          <a
            class="mx-2 justify-content-end"
            href="{% url 'cambiarContraseña' %}"
            style="text-decoration: none; color: white"
          >
            <i class="bi bi-key-fill"></i>
          </a>
        </h4>
      </div>

      <div class="card-body px-5 mt-3">
        {% comment %} Informacion Personal {% endcomment %}
        <div class="row">
          <div class="col-md-3">
            <h5>
              Información Personal
              <a
                class="mx-2 justify-content-end"
                href="{% url 'editarInformacion' %}"
                style="text-decoration: none; color: white"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a
                class="mx-2 justify-content-end"
                href="{% url 'cambiarContraseña' %}"
                style="text-decoration: none; color: white"
              >
                <i class="bi bi-key-fill"></i>
              </a>
            </h5>
          </div>
          <div class="col-md-9">
            {{formusuario.first_name|as_crispy_field}}
            {{formusuario.last_name|as_crispy_field}}
            {{formperfilPersonalTec.domicilio|as_crispy_field}}
            {{formperfilPersonalTec.telefono|as_crispy_field}}
            {{formperfilPersonalTec.correoPersonal|as_crispy_field}}
          </div>
        </div>
      </div>

      <hr class="my-3" />

      <div class="card-body px-5">
        {% comment %} Informacion Academica {% endcomment %}
        <div class="row">
          <div class="col-md-3">
            <h5>Información Académica</h5>
          </div>
          <div class="col-md-9">
            {{formusuario.email|as_crispy_field}}
            {{formdepartamentoacademico.departamentoAcademico|as_crispy_field}}
            {{formperfilPersonalTec.edificio|as_crispy_field}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center my-3">
      <a
        href="{% static 'Aviso_de_Privacidad_Simplificado.pdf' %}"
        target="_blank"
        >Aviso de privacidad</a
      >
    </div>
  </div>
</div>
{% endblock content %}
