{% extends 'layout\basicCNMenu.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <h1 class="text-center h1">
                Reporte Semestral
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if hecho is not none %}
                <div class="alert alert-info" role="alert">
                    <div>{{hecho}}</div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}