{% extends 'layout/basicCNMenu.html' %}{% block content %}
<div class="container">
  <div class="row vh-705 justify-content-center rounded mt-4">
    <div class="col-10">
      
      <form method="post" enctype="multipart/form-data">  
        {% csrf_token %}  
        <div class="row">
          <div class="col-8">
            <select class="form-select" aria-label="Default select example" name="desicion" id="desicion">
              <option selected>Seleccione una opcion</option>
              <option value="1">Aceptar</option>
              <option value="2">Rechazar</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p style="font-size: x-large">Escriba comentarios en caso de querer aceptar o rechazar el credito</p>
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <input type="text" class="form-control" id="comentarios" name="comentarios">
          </div>
        </div>
        <br />
        <div class="row mt-4">
          <div class="col-5"></div>
          <div class="col-6">
            <input id="Id" name="Id" type="hidden" value="{{IDC}}">
            <button
              type="submit"
              class="btn btn-primary"
              style="background-color: #1b396a"
            >
              Enviar
            </button>
          </div>
        </div>
        
      </form>  
      <br />
    </div>
  </div>
</div>
{% endblock content %}

{% block JS %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.rawgit.com/JacobLett/bootstrap4-latest/504729ba/bootstrap-4-latest.min.js"></script>
{% endblock JS %}