{% extends 'SistemaDeDocumentos/layout/basicCNMenu.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mb-3">
        <div class="row mb-5">
            <h3 class="text-center">Reporte Semestral Institucional</h3>
        </div>
        <div class="row my-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if realizado == 1 %}
                    <div class="alert alert-success mb-2" role="alert">
                        <div>Ya haz hecho este reporte</div>
                    </div>
                    <div class="alert alert-info mb-2" role="alert">
                        <div>Al volver a integrar se integrarán los reportes departamentales actuales</div>
                    </div>
                {% else %}
                    <div class="alert alert-info mb-2" role="alert">
                        <div>Al integrar se integrarán los reportes departamentales actuales, podrás volver a integrar los reportes más tarde cuando estén todos los reportes departamentales</div>
                    </div>
                {% endif %}
                {% if error is not defined %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div>{{error}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if exito is not defined %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div>{{exito}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row my-3">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                {% if realizado == 1 %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary" style="background-color: #1b396a">Volver a integrar</button>
                    </form>
                {% else %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary" style="background-color: #1b396a">Integrar</button>
                    </form>
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table table-hover" id="tabla">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Coordinador</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Año</th>
                            <th scope="col">Periodo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for departamento in departamentos %}
                            <tr>
                                <td>{{departamento.id}}</td>
                                <td>
                                    {% for coor in coordinadores %}
                                        {% if coor.idDepartamentoAcademico_id == departamento.id %}
                                            {{coor.user.first_name}} {{coor.user.last_name}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{departamento}}</td>
                                <td>Reporte Semestral Departamental</td>
                                {% for reporte in reportesDepartamentales %}
                                    {% if reporte.grupo_id == grupo.id %}
                                        <td>{{reporte.fecha}}</td>
                                        <td>{{reporte.ano}}</td>
                                        <td>{{reporte.periodo}}</td>
                                        <td>Realizada</td>
                                        <td>
                                            <div class="d-grid gap-2">
                                                <a href="{% static reporte.archivo %}" class="btn btn-primary" role="button" style="background-color: #1b396a" target="_blank">Ver Reporte</a>
                                            </div>
                                        </td>
                                    {% elif forloop.counter == reportesGrupales|length %}
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td></td>
                                    {% endif %}
                                    {% empty %}
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
{% endblock content %}