{% extends 'SistemaDeDocumentos/layout/basicCNMenu.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mb-5"><h1 class="text-center">Tutores Actuales</h1></div>
        <div class="row my-5">
            <div class="col-auto mx-auto">
                <a href="{% url 'CoordinadorTutoriaDepartamentoAcademico_CrearReporteSemestralDepartamentalV2' %}" class="btn btn-primary" role="button" style="background-color: #1b396a" target="_blank">Crear Reporte Semestral Departamental</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table table-hover" id="tabla">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tutor</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in grupos %}
                            <tr>
                                <td>{{grupo.id}}</td>
                                <td>{{grupo.idPersonalTec.user.first_name}} {{grupo.idPersonalTec.user.last_name}}</td>
                                <td>{{grupo.grupo}}</td>
                                <td>Reporte Semestral Grupal</td>
                                {% for reporte in reportesGrupales %}
                                    {% if reporte.grupo_id == grupo.id %}
                                        <td>{{reporte.fecha}}</td>
                                        <td>Realizada</td>
                                        <td>
                                            <div class="d-grid gap-2">
                                                <a href="{% static reporte.archivo %}" class="btn btn-primary" role="button" style="background-color: #1b396a" target="_blank">Ver Reporte</a>
                                            </div>
                                        </td>
                                    {% elif forloop.counter == reportesGrupales|length %}
                                        <td>------</td>
                                        <td>------</td>
                                        <td></td>
                                    {% endif %}
                                    {% empty %}
                                        <td>------</td>
                                        <td>------</td>
                                        <td></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}