{% extends 'layout/basicCNMenu.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if realizado == 1 %}
        <div class="container mb-3">
            <div class="row mb-5">
                <h3 class="text-center">Reporte Semestral Grupal</h3>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-success mb-3" role="alert">
                        <div>Ya has realizado este reporte</div>
                    </div>
                    {% if error is not defined %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div>{{error}}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if exito is not defined %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <div>{{exito}}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    {% else %}
        <div class="container mb-3">
            <div class="row mb-5">
                <h3 class="text-center">Reporte Semestral Grupal</h3>
            </div>
            <div class="row mb-5">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% if error is not defined %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div>{{error}}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if exito is not defined %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <div>{{exito}}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <form action="" method="post" id="formIntegrar">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Tutorado</th>
                                    <th scope="col">Tutoría grupal</th>
                                    <th scope="col">Tutoría individual</th>
                                    <th scope="col">Estudiantes canalizados en el semestre</th>
                                    <th scope="col">Observaciones</th>
                                    <th scope="col">% Asistencia</th>
                                    <th scope="col">Crédito complementario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ form.management_form }}
                                {% for formulario in form.forms %}
                                    {% for hidden in formulario.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    <tr>
                                        <th>{{ formulario.tutorado|as_crispy_field }}</th>
                                        <th>{{ formulario.tutoriaGrupal|as_crispy_field }}</th>
                                        <th>{{ formulario.tutoriaIndividual|as_crispy_field }}</th>
                                        <th>{{ formulario.estudianteCanalizado|as_crispy_field }}</th>
                                        <th>{{ formulario.observaciones|as_crispy_field }}</th>
                                        <th>{{ formulario.asistencia|as_crispy_field }}</th>
                                        <th>{{ formulario.credito|as_crispy_field }}</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary" id="boton1">Enviar</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% comment %} <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                {% if error is not defined %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div>{{error}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if exito is not defined %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div>{{exito}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3"></div>
        </div>
    </div> {% endcomment %}
{% endblock content %}

{% block JS %}
    <script src="{% static 'JS/spinner.js' %}"></script>
{% endblock JS %}