{% extends 'SistemaDeDocumentos/layout/basicCNMenu.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row mb-5"><h1 class="text-center">Grupos Actuales</h1></div>
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table table-hover" id="tabla">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Tutor</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grupo in grupos %}
                            <tr>
                                <td>{{grupo.id}}</td>
                                <td>{{grupo.grupo}}</td>
                                <td>{{grupo.idPersonalTec.user.first_name}} {{grupo.idPersonalTec.user.last_name}}</td>
                                {% for reporte in reportes %}
                                    {% if reporte.grupo_id == grupo.id %}
                                        <td>{{reporte.fecha}}</td>
                                        <td>Envida</td>
                                        <td>
                                            <div class="d-grid gap-2">
                                                <a href="{% static reporte.archivo %}" class="btn btn-primary" role="button" style="background-color: #1b396a" target="_blank">Ver</a>
                                            </div>
                                        </td>
                                    {% elif forloop.counter == reportes|length %}
                                        <td>------</td>
                                        <td><p class="text-danger text-bold">------</p></td>
                                        <td>
                                            <div class="d-grid gap-2">
                                                <a href="{% url 'Tutor_CrearReporteSemestralV2' grupo.id %}" class="btn btn-primary" role="button" style="background-color: #1b396a">Crear Reporte</a>
                                            </div>
                                        </td>
                                    {% endif %}
                                    {% empty %}
                                    <td>------</td>
                                    <td><p class="text-danger fw-bold">------</p></td>
                                    <td>
                                        <div class="d-grid gap-2">
                                            <a href="{% url 'Tutor_CrearReporteSemestralV2' grupo.id %}" class="btn btn-primary" role="button" style="background-color: #1b396a">Crear Reporte</a>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}